.TodoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.TodoContainer h1{
    font-size: 50px;
    color: aliceblue;
    font-weight: 700;
    margin:1em auto;

}
.input{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
position: relative;
}
input{
    width: 100%;
    background-color: white;
    border: none;
    height: 60px;
    outline: none;
    padding:0 1em;
    font-size: 18px;
    color: black;
    font-weight: 500;
}
.icon-plus {
    width: 47px;
    height: 47px;
  
    
    &.w25 {
      width: 25px;
      height: 25px;
      position: absolute;
      right: 5%;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      
      &:after {
        width: 18px;
        height: 4px;
        left: 4px;
        top: 11px;
      }
  
      &:before {
        width: 4px;
        height: 18px;
        left: 11px;
        top: 4px;
      }
    }
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    position: relative;
  
    &.orange {
      background: #FD7901;
    }
    
    &.blue {
        background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    }
    
    &:after, &:before {
      content: '';
      position: absolute;
      background: #FFF;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    
    &:after {
      width: 25px;
      height: 6px;
      left: 11px;
      top: 20px;
    }
    
    &:before {
      width: 6px;
      height: 25px;
      left: 20px;
      top: 11px;
    }
  }
  .todos{
    width: 50%;
    margin: 0 auto;
    display: flex;
    margin-top: 3em;
    flex-direction: column;
    gap: 1em;
  }
  .Todo{
    width: 100%;
    display: flex;

  }
  .Todo .input{
    width: 70%;
    margin: 0 auto;
    position: relative;
  }
  .Todo .text{
  width: 100%;
    background-color: white;
    border: none;
    height: 60px;
    outline: none;
    padding:0 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }
  .complete{
    width: 20%;
    height: 100%;
    display: flex;
    background-color:#3F5EFB;
    justify-content: center;
    align-items: center;
  }
  .complete svg,
  .delete svg{
    width: 30px;
    height: 30px;
  }
  .delete{
    width: 20%;
    height: 100%;
    display: flex;
    background-color:#FC466B;
    justify-content: center;
    align-items: center;
  }
  .Todo.completed{
opacity: .6;
text-decoration: line-through;
  }
  .Inputs-Container{
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }
  .select{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
  .filter-todos{
    width: 100%;
    border: 1px solid white;
    outline: none;
    height: 60px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline: none;
    padding: 1em;
  }
  .select:hover::after{
    opacity: 0;
  }
  .select::after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: #FC466B;
    z-index: 0;
    pointer-events: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
  }
  .select::before{
    position: absolute;
    content: '';
    right: 10%;
    top: 35%;
    width: 0px;
    height: 30px;
    border-top: solid 15px white;
    border-left: solid 15px transparent;
    border-right: solid 14px transparent;
    z-index: 1;
    pointer-events: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
